{% extends "layout.html" %}

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Foodmachine</title>
  <link href="logn.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  <link rel="shortcut icon" type="image/favicon" href="./favicon.ico">
</head>

<body>
  <div class="signin">

    <form>
      <h2 style="color:#E9EC1D  ;"><span>Foodmachine </span> <br />Log In</h2>
      <input type="text" name="username" placeholder="Username" /><br /><br />
      <input type="password" name="password" placeholder="Password" /><br /><br />
      <a href="cong.html"><input type="button" value="Log In" /></a><br /><br />
      <div id="container">
        <a href="re.html" style=" margin-right:0px; font-size:13px; font-family:Tahoma, Geneva, sans-serif;">Reset
          password?</a>
        <a href="for.html" style=" margin-left:30px; font-size:13px; font-family:Tahoma, Geneva, sans-serif;">Forget
          password</a>
      </div><br /><br /><br /><br /><br /><br />

      {% block content %}

      <h2>Login</h2>

      <html>

      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Foodmachine</title>
        {% load static %}
        <link href="{% static 'logn.css' %}" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
        <link rel="shortcut icon" type="image/favicon" href="./favicon.ico">
      </head>

      <body>
        <div class="signin">

          <form>
            <h2 style="color:#E9EC1D  ;"><span>Foodmachine </span> <br />Log In</h2>
            {% csrf_token %}
            {{form.as_p}}
            <a href="{% url 'social:begin' 'google-oauth2' %}"><input type="button" value="Log In" /></a><br /><br />
            <div id="container">
              <a href="{% url 'reset' %}"
                style=" margin-right:0px; font-size:13px; font-family:Tahoma, Geneva, sans-serif;">Reset password?</a>
              <a href="{% url 'forgot' %}"
                style=" margin-left:30px; font-size:13px; font-family:Tahoma, Geneva, sans-serif;">Forget password</a>
            </div><br /><br /><br /><br /><br /><br />

            Don't have account?<a href="{% url 're' %}" style="font-family:'Play', sans-serif;">&nbsp;Sign Up</a>


            <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>



            Don't have account?<a href="menu" style="font-family:'Play', sans-serif;">&nbsp;Sign Up</a>

            {% endblock content %}
          </form>
        </div>

      </body>

      </html>