{% extends "layout.html" %} { extends "../layout.html" }
{% block content %}
<h1 style="width: fit-content;background-color: white;align-items: center">Food Menu Card</h1>
{% load restags %}
{% getLabel as l %}
<form method = 'GET' style="margin-left: 20px; background-color: white; padding: 10px; border-radius: 5px; width: auto; color: black">
    Label:
    <input list = "label" name = 'Label' placeholder = 'Entree' style="color: black;">
    <datalist id = "label">
        <option value=""></option>
    {% for element in l %}
        <option value = '{{element.Label_Name}}'>
    {% endfor %}
    </datalist>
    Cuisine:
    <input list = "cuisine" name = 'Cuisine' placeholder = 'American' style="color: black;">
    <datalist id = "cuisine">
        <option value=""></option>
   {% getCuisine as c %}  
   {% for element in c %}
  
   <option value = '{{element.Cuisine_parent}}'>
   {% endfor %}
   </datalist>
   Search for item:
   <input type = 'search' placeholder = 'Search...' name = 'searching' style="color: black;">
   <i class = 'fa fa-search'></i>
       <button type = "submit">Filter</button> 
    </form>

    <div class="row">
            {% for M in query_set %}
            <div class="column">
                
                <div class="card" style=" height:auto; width:auto; padding: 10px;">
                   
                    <img src="{{M.Menu_Pic.url}}" style=" height: 200px; width: 200px;">
                    <div style="height: 25px">
                        <font size="5" color="black">{{M.Menu_Item}}</font>
                    </div>
                    <input type="text" value="{{M.Menu_Item_Id}}" id="menuID" type="hidden">
                    <p class="price">${{M.Menu_ItemPrice}}</p>
                    <p style="font-size: 10px">{{M.Menu_Item_Description}} </p>
                    <!-- <p>
                                        <button onclick="confirmDelete(this.id)" id = "{{M.Menu_Item_Id}}">Delete</button>
                                    </p> -->
        
                        <br>
                        <div>
                            <p style="position: relative; bottom: 0px"><button class="button" style="width: 200px"
                                    onclick="addtocart( '{{M.Menu_Item}}', '{{M.Menu_ItemPrice}}' )">Add to cart</button>
                        </div>
        
                </div>
        
            </div>
            <br>
            <br>
            {% endfor %}
        </div>
{% endblock content %}
