{% extends 'layout.html' %}{% block content %}
{% load restags %}
{% load static %}
<div>
<h1>{{Restaurant.Res_Name}}</h1>
<h2>{{Restaurant.Res_Description}}</h2>
<br>
<div>
<div class= "row">
            {% for M in Restaurant|getMenu %}
            <div class="column">
                
                    <div class="card" style=" height:500px; width:200px">
                        <img src="{{M.Menu_Pic.url}}" style=" height: 200px; width: 200px;" >
                        <font size = "5" color = "black">{{M.Menu_Item}}</font>
                        <p class="price">{{M.Menu_ItemPrice}}</p>
                        <p style="font-size: 10px">{{M.Menu_Item_Description}}</p>
                        <p style="position: absolute; bottom: 0px"><button class="button" style="width: 200px">Menu</button>
                        </p>
                    </div>
                
            </div>
            <br>
            <br>
            {% endfor%}
            
</div>
</div>
</div>
{% endblock content %}