{% extends 'layout.html' %}{% block content %}
{% load restags %}
{% load static %}

<h1>{{Restaurant.Res_Name}}</h1>
<h2>{{Restaurant.Res_Description}}</h2>
<br>
    <script>

         function buttonfun()
         {
            window.open("/restaurant/createmenu/", "mywindow","width=400,height=550");
         }

         window.onunload = refreshParent;

         function addtocart(mitem,mprice){
             var mobj = {String(mitem): String(mprice)}
             var storeobj = JSON.stringify(mobj)
             localStorage.setItem("cart",storeobj)
         }
        
    </script>

    <!-- <script>
        function confirmDelete(buttonID)
        {
           
            var conf = confirm("Are you sure you want to delete this menu item?");
            if(conf == true)
            {
              
                var i = buttonID;
                var idString = JSON.stringify(i);
                

                $.post("/restaurant/delete_menu",
                {
                    mId : idString
                    
                });
                alert('success');
//                 $.ajax({
//    type: "POST",
//    url: "/delete_menu", //the name and location of your php file
//    data: idString,      //add the converted json string to a document.
//    success: function() {alert('success');} //just to make sure it got to this point.
// });
            }

        }    
    </script> -->

<div class= "row">
            {% for M in Restaurant|getMenu %}
            <div class="column">
                    {% csrf_token %}
                    <div class="card" style=" height:500px; width:200px">
                        {% csrf_token %}
                        <img src="{{M.Menu_Pic.url}}" style=" height: 200px; width: 200px;" >
                        <div style="height: 25px"><font size = "5" color = "black">{{M.Menu_Item}}</font></div>
                        <input type = "text" value = "{{M.Menu_Item_Id}}" id = "menuID" type = "hidden">
                        <p class="price">{{M.Menu_ItemPrice}}</p>
                        <p style="font-size: 10px">{{M.Menu_Item_Description|truncatechars:69}} </p>
                        <!-- <p>
                                <button onclick="confirmDelete(this.id)" id = "{{M.Menu_Item_Id}}">Delete</button>
                            </p> -->

                        <p>
                            <a href="/restaurant/delete/{{M.Menu_Item_Id}}/"><i class="delete">Delete</i></a>
                        </p>
                        <p style="position: absolute; bottom: 0px"><button class="button" style="width: 200px" onclick="addtocart({{M.Menu_Item}},{{M.Menu_ItemPrice}})">Menu</button>
                        </p>
                       
                    </div>
                
            </div>
            <br>
            <br>
            {% endfor %}
  <button  onclick="buttonfun()">Create a menu Item</button>
</div>
{% endblock content %}