{% extends "layout.html" %}
{% block content %}
<style>
    h3{
        color: white;
    }
    label{
        color: white;
    }
</style>
<form action = "create-menu.html" method="POST">
    {% csrf_token %}
    <label>Enter your Restaurant's Name</label>
    <input type = 'text' name = 'Rest' placeholder = 'Ajax'>
    
   <!-- <label for = 'Rest'>Choose your Restaurant</label>
    <select>
      {% for i in Res_Name %}
      <option name = 'Rest'>{{i.Res_Name}}</option>
      {% endfor %}
  </select>-->
  
  <br>
  <label for = "Item"> Create Menu Item: </label>
  <input type = 'text' name = 'Item' placeholder = 'Item'>
   <br>
  <label for = "Description"> Create Item Description:</label>
  <input type = 'text' name = 'Description' placeholder = 'A delicate meat...'>
   <br>
   <label for = "Price">Create Item Price: </label><input type = 'number' step = 'any' name = 'Price' placeholder = '0.00'>
   <br>
   <label for = "Label">Create Item Label:</label> 
   <input type = 'text' name = 'Label' placeholder = 'Appetizer'>
   <br>
   <input type = 'file' name = 'Picture'>
   <br>
   <label>Create Cuisine Type:</label> 
   <input type = 'text' name = 'Cuisine' placeholder = 'Fast food'>
   <br>-->
    <input  type="submit" name="Submit" onclick="add()">
    <!--<div ><h3 id = 'success'>Item Successfully Added to Menu</h3></div>-->
    <script>
       function add(){
            var x = document.getElementById('success')
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 200);
        }
    </script>
</form>


{% endblock content %}