{% extends 'layout.html' %}{% block content %}
{% load static %}
<body background = "{% static 'img/pic1.jpg' %}">
    <section>
        <!-- The grid: four columns -->
        <div class="row">
            <div class="column">
                <img src="{% static 'img/fastFood.jpg' %}" alt="Nature" onclick="myFunction(this);">
                <button class="btn">Fast Food Menu</button>
            </div>
            <div class="column">
                <img src="{% static 'img/mexican.jpg' %}" alt="Snow" onclick="myFunction(this);">
                <button class="btn">Mexican Food Menu</button>
            </div>
            <div class="column">
                <img src="{% static 'img/fineDining.jpg' %}" alt="Mountains" onclick="myFunction(this);">
                <button class="btn">Fine Dining Menu</button>
            </div>
            <div class="column">
                <img src="{%static 'img/dessert.jpg' %}" alt="Lights" onclick="myFunction(this);">
                <button class="btn">Dessert Menu</button>
            </div>
        </div>

    </section>




</body>

{% endblock content %}