{% extends "layout.html" %}{% block content %}
<html>
<head>
        {%load static%}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" rel="stylesheet" type="text/css" href=" static 'stylesheets/sgnup.css" />
<link href="stylesheets/sgnup.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
<link rel="shortcut icon" type="image/favicon" href="static 'img/favicon.ico'">
</head>

<div class="container">
<div class="signup">
    <form action="/dashboard/cong.html" method="POST">
        {% csrf_token %}
    <h2 style="color: #fff;">Sign Up</h2>
    <input type = "text" name = "username" placeholder="Username"><br><br>
    <input type="text" name="FirstName" placeholder="First name"><br><br>
    <input type="text" name="LastName" placeholder="Last name"><br><br>
    <input type="password" name="passw" placeholder="Password"><br><br>    
    <input type="password" name="confirmPass" placeholder="Confirm Password"><br><br>   
    <input type="email" name = "Email" placeholder="Email address"><br><br>  
    <select name = "types">
        <option value="r">Restaurant Owner</option>
        <option value="c">Customer</option>
        <option value="d">Deliverer</option>
    </select>
    <!-- <input type="number" name = "phone" placeholder="Phone Number"><br><br> -->
    <input type="Submit" value="Submit" ><br><br>
        <!-- <div id="msg">Congratulations You Sign Up successfully!!</div> -->
        </form>
        Already have account?<a href="/login/" style="text-decoration: none; font-family: 'Play', sans-serif; color: blue;">&nbsp;Log In</a>
        Forgot Password? 
 
    
    </div>
    </div>
</div>
{% endblock content %}
