{% extends "layout.html" %} {extends "../layout.html"}
{% block content %}

<div style="  background: rgba(44,62,80,1);
    padding: 40px;
    margin: auto;
    margin-top: 90px;
    margin-left: 180x;
">

<form method = "POST" action="/dashboard/updatePassword">
    {% csrf_token %}
    <input type = "password" placeholder="New Password" name = "passw"> <br><br>
    <input type = "password" placeholder="Confirm New Password" name = "confirmPass"> <br> <br>
    <input type = "submit" name = "updatePass" value = "Update">
</form>

</div>

{% endblock content %}
