<{% extends '../layout.html'%} {% block content  %} {% load static %} <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Userdashboard</title>
    <link href="{% static 'stylesheets/dashboard.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <<link rel="shortcut icon" type="image/favicon" href="{% static 'img/favicon.ico' %}">
        </head>

        <body>
            <div id="w">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                            aria-controls="orders" aria-selected="true">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="cart-tab" data-toggle="tab" href="#cart" role="tab" aria-controls="cart"
                            aria-selected="false">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                            aria-controls="settings" aria-selected="false">Profile</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="orders-tab"
                        <section id="orders">
                        <p>All orders mentions below</p>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="cart" role="tabpanel" aria-labelledby="cart-tab">
                        <div id="activity" class="hidden" class="tab-pane fade">
                            <p>Most recent actions:</p>

                            <p class="activity">@10:15PM - Submitted a new order</p>

                            <p class="activity">@9:50PM - Saved a dish</p>

                            <p class="activity">@8:15PM - Posted a comment</p>
                        </div>
                        <section id="orders">
                            <p>Orders list:</p>

                            <ul id="orderslist" class="clearfix">
                                <li><a href="#"><img src="img/mexican.jpg" width="22" height="22"> </a>Nachos</li>
                            </ul>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                        <section id="settings">
                            <p>Edit your user settings:</p>

                            <p class="setting"><span>E-mail Address </span> {{user.email}}</p>

                            <p class="setting"><span>Address</span> Public</p>

                            if
                        </section>
                    </div>
                </div>

            </div><!-- @end #content -->
            </div><!-- @end #w -->

            <script type="text/javascript">
                $(function () {
                    $('#profiletabs ul li a').on('click', function (e) {
                        e.preventDefault();
                        var newcontent = $(this).attr('href');

                        $('#profiletabs ul li a').removeClass('orders');
                        $(this).addClass('sel');

                        $('#content section').each(function () {
                            if (!$(this).hasClass('hidden')) {
                                $(this).addClass('hidden');
                            }
                        });

                        $(newcontent).removeClass('hidden');
                    });
                });
            </script>

        </body>
        {% endblock content %}