<!doctype html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Userdashboard</title>
    <link href="{% static 'css/boostrapHomePg.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <<link rel="shortcut icon" type="image/favicon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
    <div id="w">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="true">Orders</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="cart-tab" data-toggle="tab" href="#cart" role="tab" aria-controls="cart" aria-selected="false">Cart</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Profile</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="orders-tab">...</div>
                    <div class="tab-pane fade" id="cart" role="tabpanel" aria-labelledby="cart-tab">...</div>
                    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
                  </div>
                
            <section id="orders">
                <p>Can't a guy call his mother pretty without it seeming strange? Amen. I think that's one of Mom's
                    little fibs, you know, like I'll sacrifice anything for my children.</p>
            </section>

            <section id="activity" class="hidden">
                <p>Most recent actions:</p>

                <p class="activity">@10:15PM - Submitted a new order</p>

                <p class="activity">@9:50PM - Saved a dish</p>

                <p class="activity">@8:15PM - Posted a comment</p>
            </section>

            <section id="orders" class="hidden">
                <p>Orders list:</p>

                <ul id="orderslist" class="clearfix">
                    <li><a href="#"><img src="img/mexican.jpg" width="22" height="22"> </a>Nachos</li>
                </ul>
            </section>

            <section id="settings" class="hidden">
                <p>Edit your user settings:</p>

                <p class="setting"><span>E-mail Address <img src="img/edit.png" alt="*Edit*"></span> lolno@gmail.com</p>

                <p class="setting"><span>Language <img src="img/edit.png" alt="*Edit*"></span> English(US)</p>

                <p class="setting"><span>Address <img src="img/edit.png" alt="*Edit*"></span> Public</p>

                <p class="setting"><span>Connected Accounts <img src="img/edit.png" alt="*Edit*"></span> None</p>
            </section>
        </div><!-- @end #content -->
    </div><!-- @end #w -->
    
    <script type="text/javascript">
        $(function () {
            $('#profiletabs ul li a').on('click', function (e) {
                e.preventDefault();
                var newcontent = $(this).attr('href');

                $('#profiletabs ul li a').removeClass('orders');
                $(this).addClass('sel');

                $('#content section').each(function () {
                    if (!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
                });

                $(newcontent).removeClass('hidden');
            });
        });
    </script>

</body>
